
{% extends 'main.html' %}

{%block content%}
<h1>Erfahrungen</h1>

<h2>Jungheinrich | Entwicklungsingenieur | 2021 - heute</h2>
<p>Testing:</p>
<p>Testmanagement:</p>
<p>Testautomatisierung:</p>
<p>Requirementsengineering:</p>
<hr>
<h2>PROSPER-X GmbH Braunschweig | Testingenieur | 2018 - 2021</h2>
<p>Testing:</p>
<p>Durchführen von Systemtests für Infotainmentsysteme</p>
<p>Durchführung von Abgasmessungen am Rollenprüfstand und im Rahmen von Versuchsfahrten</p>
<p>Verwendung von <a href="">INCA</a> und <a href="https://www.avl.com/de/messtechnik-pruefsysteme/alle-pruefgeraete-softwareloesungen/abgasanalyse-abgasmessung">AVL Gas/PN PEMS</a> </p>
<p>Spezifikation und Testdurchführung im Bereich e-Call mittels <a href="https://www.microfocus.com/de-de/products/alm-quality-center/overview">HP Quality Center</a> </p>
<p>Testspezifikation in <a href="https://www.ibm.com/docs/de/ermd/9.6.1?topic=overview-rational-doors">IBM Rational DOORS</a> </p>
<p>Umsetzen der Testspezifikation mittels <a href="https://www.vector.com/int/en/products/products-a-z/software/canoe/#">CANoe</a> / <a href="https://www.vector.com/int/en/products/products-a-z/software/canalyzer/#">CANalyzer </a></p>
<p>Programmierung von Testfällen zur Teilautomatisierten Auswertung mittels <a href="https://www.vector.com/at/de/know-how/capl/">CAPL</a></p>
<p>Koordinattion und Organisation in der Fahrzeugentwicklung des elektrischen Antriebsstrangs</p>
<hr>
<h2>CARLECTRA GmbH Braunschweig | Testingenieur | 2016 - 2018</h2>
<p>Manuelle Testdurchführung für Infotainment-/Navigationssysteme</p>
<p>Testdokumentation via <a href="https://www.microfocus.com/de-de/products/alm-quality-center/overview">HP Quality Center</a></p>
<p>Fahrversuche von Entwicklungsfahrzeugen im Rahmen von Erprobungsfahrten für Navigationssysteme</p>
<p>Beratung zur Geschäftsmodellentwicklung von Geschäftsfeldanalyse bis zum Business Modell Canvas</p>

<hr>
<h2>StudING Braunschweig | Geschäftsführer | 2014 - 2016</h2>
<p>Verantwortlich für:</p>
<p>Aufbau- und Ablauforganisation</p>
<p>Personalplanung und Projektcontrolling</p>
<p>Planung und Durchführung von Veranstaltungen im Rahmen von Kundengewinnung, sowie der Personalbeschaffung</p>
<p>Vertrieb, Angebots- und Rechnungslegung</p>
<p>Finanzverwaltung und Investitionsplanung</p>
<hr>
<h2>Bundeswehr | Nachschubbuchführerunteroffizier | 2001 -2008</h2>
<p>Datenerfassung und -bearbeitung, sowie die Planung und Durchführung der Inventur im Feldlager während des Auslandseinsatzes im Kosovo im Jahr 2006</p>
<p>Aufbau der Grundausbildungseinheit als vorübergehender Kompanietruppführer</p>
<p>Planung und Organisation der Ausbildungsabläufe</p>
<p>Durchführung verschiedener Ausbildungseinheiten</p>
<p>Ausbildung zum Bürokaufmann im Rahmen der Unteroffizierslaufbahn</p>

<h1>Ausbildung</h1>



<table class="myTable">
    <tr>
    <th align="left" >Wo</th>
    <th align="left">Was</th>
    <th align="left">Wann</th>
    </tr>
    <tr>
        <td>TU BRAUNSCHWEIG </td>
        <td>B.SC. UMWELTINGENIEURWESEN</td>
        <td>2011-2017</td>
    </tr>
    <tr>
        <td>UNIVERSITÄT KASSEL</td>
        <td>STUDIUM UMWELTINGENIEURWESEN</td>
        <td>2008-2011</td>
    </tr>
    <tr>
        <td>ZAW AUSBILDUNGSSTELLE TORGELOW</td>
        <td>BÜROKAUFMANN</td>
        <td>2003-2005</td>
    </tr>
    <tr>
        <td>BBS FREDENBERG</td>
        <td>FACHHOCHSCHULREIFE</td>
        <td>23.06.2005</td>
    </tr>
</table>
{%endblock content %}